/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    background: linear-gradient(90deg, #161b22, #0d1117);
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.logo img {
    width: 80px;
    border-radius: 50%;
    animation: rotate 10s linear infinite, scaleUp 3s ease-in-out infinite;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #c9d1d9;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #58a6ff;
}

header {
    background: linear-gradient(90deg, #161b22, #0d1117);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 60%;
    border-radius: 8px;
}

.producto h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.producto p {
    margin-top: 5px;
    color: #777;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #161b22;
        padding: 10px 0;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.5em;
    }
}
